.center {
  padding: 70px 0;
}
body {

}
html {
  background: rgba(173, 165, 201, 1);
  /* background: linear-gradient(bottom, rgba(173, 165, 201, 1), rgba(125, 175, 255, 1));
  background: -webkit-linear-gradient(bottom, rgba(173, 165, 201, 1), rgba(125, 175, 255, 1));
  background: -moz-linear-gradient(bottom, rgba(173, 165, 201, 1), rgba(125, 175, 255, 1)); */
  background: url(https://i.imgur.com/bxAAIrh.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 100%;
}
.title {
  text-align: left;
  padding-left: 100px;
  padding-top: 50px;
}
h1 {
  color: white;
  text-shadow: 2px 2px black;
}
h2 {
  color: white;
  text-shadow: 2px 2px black;
}
p {

}
.intMap {

}
