@viewport {
  width: device-width;
  zoom: 1.0;
}
@-ms-viewport {
  width: device-width;
}
.center {
  padding: 70px 0;
}
body {
  text-align: center;
}
.mainContent {
  color: white;
  font-family: 'Roboto Slab', serif;
  text-shadow: 2px 2px #000000;
}
h1 {
  color: white;
  font-family: 'Roboto Slab', serif;
  text-shadow: 2px 2px black;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
}
img {
  width: 20%;
  border: 5px solid white;
  border-radius: 50%;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
