@viewport {
  width: device-width;
  zoom: 1.0;
}
@-ms-viewport {
  width: device-width;
}
html, body {
  background: url(https://i.imgur.com/oXI8tSF.jpg) no-repeat center center fixed;
  -webkit-background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.center {
  padding: 70px 0;
}
body {
  text-align: center;

}
.mainContent {
  color: white;
  font-family: 'Roboto Slab', serif;
  text-shadow: 2px 2px #000000;
}
h1 {
  color: white;
  font-family: 'Roboto Slab', serif;
  text-shadow: 2px 2px black;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
}
img {
  width: 20%;
  border: 5px solid white;
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  html, body {
    background-image: url(https://i.imgur.com/n6SmZFv.png);
    background-size: cover;
  }
}
