@viewport {
  width: device-width;
  zoom: 1.0;
}
@-ms-viewport {
  width: device-width;
}
html {
  /* background: #c6e8f7; */
  background: #d7f1fc;
  background: url(https://i.imgur.com/9AywH2z.jpg) no-repeat center center fixed;
  /* background: linear-gradient(top, rgba(215, 241, 252, 1), rgba(107, 211, 255, 1)) no-repeat center center fixed;
  background: -webkit-linear-gradient(top, rgba(215, 241, 252, 1), rgba(107, 211, 255, 1)) no-repeat center center fixed;
  background: -moz-linear-gradient(top, rgba(215, 241, 252, 1), rgba(107, 211, 255, 1)) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 100%;
}
.center {
  padding: 70px 0;
}
body {
  text-align: center;

}
.mainContent {
  color: white;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-shadow: 1px 1px grey;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  text-shadow: 1px 1px grey;
}
img {
  width: 20%;
  border: 5px solid white;
  border-radius: 50%;
}
